:root {
  --main-purple: #506ccf;
  --main-dark-purple: #3453c2;
  --main-white: #ffffff;
  --main-blue: #49a1f1;

  --text-black: #08123a;
  --text-dark-grey: #5f6b77;
  --text-light-grey: #e9eaf0;
  --text-blue-grey: #8b9fcc;

  --background-1: #ecf2fe;
  --background-2: #f5f9ff;
  --background-3: #e9f4f5;
  --background-4: #fde9e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Text Regular', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

p, span {
  color: var(--text-dark-grey);
}

h1 {
  font-family: 'SF Pro Display Semibold';
  line-height: 58px;
  font-size: 48px;
  color: var(--text-black);
}

h2 {
  font-family: 'SF Pro Display Medium', 'Arial', sans-serif;
  line-height: 48px;
  font-size: 40px;
}

h3 {
  font-family: 'SF Pro Text Medium', 'Arial', sans-serif;
  line-height: 28px;
  font-size: 20px;
  color: var(--text-black);
  text-align: center;
}

h4 {
  font-family: 'SF Pro Text Regular', 'Arial', sans-serif;
  line-height: 28px;
  font-size: 20px;
}

h5 {
  font-family: 'SF Pro Text Medium', 'Arial', sans-serif;
  line-height: 20px;
  font-size: 16px;
}

.subheader {
  line-height: 28px;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: var(--text-dark-grey);
  &:hover {
    text-decoration: underline;
  }
}

body {
  position: relative;
  max-width: 1440px;
  height: 800px;
  padding-left: 135px;
  margin: auto;
  background-color: var(--background-2);
  overflow: hidden;
}

.layout {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    var(--main-purple) 0%,
    var(--main-dark-purple) 100%
  );
  width: 31.7%;
  height: 100%;
  z-index: -3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 45px;
  height: 430px;
  width: 571px; /*!!!!!!!!!!!!*/
}

button {
  font-family: 'SF Pro Text Medium', 'Arial', sans-serif;
  color: var(--main-white);
  line-height: 22px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 11px 14px;
  &:hover {
    cursor: pointer;
  }
}

button.dark-button {
  width: 170px;
  height: 54px;
  /* padding: 15px 14px; */
  background-color: var(--main-purple);
  text-align: center;
  box-shadow: 0px 20px 35px #DFE8F4;
  &:hover {
    background-color: var(--main-dark-purple);
  }
}

button.light-button {
  width: 127px;
  height: 46px;
  /* padding: 11px 14px; */
  background-color: var(--main-blue);
  &:hover {
    background-color: #3893e8;
  }
}

button.transparent {
  width: 54px;
  height: 54px;
  padding: auto;
  background-color: transparent;
  border: 1px solid var(--text-light-grey);
  &:hover {
    background-color: var(--text-light-grey);
  }
}

img.arrow {
  margin: 6px;
}

img.logo {
  width: 37px;
  height: 37px;
  margin-right: 125px;
}

header, nav, div.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header {
  height: 102px;
  padding-right: 40px;
  z-index: 3;
}

nav {
  width: 556px;
}

button.lang {
  color: var(--text-blue-grey);
  background-color: transparent;
}

div.contacts {
  width: 295px;
}

div.phone {
  color: var(--main-white);
}

label {
  font-family: 'SF Pro Text Medium', 'Arial', sans-serif;
  line-height: 16px;
  font-size: 13px;
}

.user-img {
  position: absolute;
  border-radius: 50%;
}

.user-layout {
  position: absolute;
  background-color: var(--background-1);
  box-shadow: 0px 20px 35px rgba(97, 131, 181, 0.24);
  border-radius: 50%;
  transition: 1s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
} 

.user-layout-1 {
  width: 50px;
  height: 50px;
  top: 156px;
  left: calc(50% + 530px);
  border: 3px solid var(--main-purple);
  border-left-color: transparent;
}

.user-layout-2 {
  width: 65px;
  height: 65px;
  top: 565px;
  left: calc(50% - 70px);
  border: 4px solid #FFC86F;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

img.tech-support {
  position: absolute;
  top: 130px;
  left: calc(50% - 11px);
  width: auto;
  height: 670px;
  z-index: -2;
}

@media all and (width < 1350px) {
  img.logo {
    margin-right: auto;
  }
  nav {
    width: max-content;
    column-gap: 25px;
  }
  img.tech-support, .user-layout {
    opacity: 0.5;
  }
}

@media all and (width < 1150px) {
  header {
    column-gap: 25px;
  }
  img.logo {
    margin-right: 20px;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  div.contacts {
    width: max-content;
    flex-direction: column;
    row-gap: 10px;
    text-wrap: nowrap;
  }
}

@media all and (width < 900px) { 
  * {
    font-size: 14px;
  }
  .user-layout {
    display: none;
  }
}

@media all and (width < 768px) { 
  body {
    padding-left: 0;
  }
  h1 {
    line-height: 50px;
    font-size: 40px;
  }
  p.subheader {
    line-height: 26px;
    font-size: 18px;
  }
  .content {
    width: fit-content;
    align-items: center;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
  }
  img.logo {
    margin: 0px 20px;
  }
}

@media all and (width < 550px) { 
  h1 {
    line-height: 40px;
    font-size: 36px;
  }
}

@media all and (width < 490px) { 
  header {
    height: max-content;
    column-gap: 8px;
    padding-right: 10px;
  }
  .content {
    height: fit-content;
    row-gap: 50px;
  }
  div.phone {
    display: none;
  }
  button.light-button {
    transform: rotate(270deg);
    margin-left: -30px;
    margin-top: 20px;
  }
}
