div.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0vh;
  left: 0vh;
  background-color: black;
  opacity: 0.6;
  z-index: 3;
}

.hidden {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

div.popup {
  position: fixed;
  top: calc(50% - 260px);
  left: calc(50% - 280px);
  width: 557px;
  height: 519px;
  padding: 37px;
  padding-top: 35px;
  border-radius: 11px;
  background-color: var(--main-white);
  font-weight: 600;
  z-index: 4;
}

.popup section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 388px;
  margin-top: 30px;
}

.section:last-child {
  margin-top: -18px;
}

.main-info {
  color: #000;
}

.contact-info {
  color: var(--text-black);
}

.popup .section,
div.call-wrapper,
div.social-media {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}
div.section.communication,
div.social-media {
  flex-direction: row;
}

div.social-media {
  width: 155px;
}

img.icon {
  margin-top: 6px;
}

div.icon-text {
  display: flex;
  align-items: center;
}

button.call {
  width: 188px;
  height: 54px;
  background-color: transparent;
  border: 2px solid var(--text-dark-grey);
  color: var(--text-dark-grey);
  &:hover {
    background-color: var(--text-blue-grey);
    color: var(--text-black);
  }
}

button.media {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--text-light-grey);
  &:hover {
    background-color: var(--text-light-grey);
  }
}

@media all and (width < 600px) {
  div.popup {
    width: 80%;
    height: max-content;
    left: 10%;
  }
  .popup section, div.section {
    align-items: center;
  }
  .popup section {
    height: 460px;
    margin-bottom: 10px;
  }
  div.section.communication {
    flex-direction: column;
  }
  span, p, a {
    font-size: 14px;
  }
  button.call {
    width: max-content;
    height: max-content;
  }
}
